/*
 * Copyright (C) 2018 SEAL AG
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6ull.dtsi"

/ {
	model = "SEAL S5210";
	compatible = "seal,s5210", "fsl,imx6ull";

	chosen {
		stdout-path = &uart4;
	};

	memory {
		reg = <0x80000000 0>;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		user-button {
			label = "User button";
			gpios = <&gpio2 18 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_MISC>;
			wakeup-source;
		};
	};

	leds {
		compatible = "gpio-leds";

		red-led {
			label = "red";
			gpios = <&gpio2 19 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};

		green-led {
			label = "green";
			gpios = <&gpio2 20 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};

		blue-led {
			label = "blue";
			gpios = <&gpio2 21 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};
};

&cpu0 {
	arm-supply = <&reg_arm>;
	soc-supply = <&reg_soc>;
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			reg = <0>;
			reset-gpios = <&gpio2 11 GPIO_ACTIVE_LOW>;
			reset-assert-us = <1000>;
			reset-deassert-us = <1000>;
		};
	};
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	clock_frequency = <400000>;
	status = "okay";

	ds3231: ds3231@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;
	s5210 {
		pinctrl_hog_1: hoggrp-1 {
			u-boot,dm-spl;
			fsl,pins = <
				MX6UL_PAD_SD1_DATA1__GPIO2_IO19		0x1f038 /* Red LED */
				MX6UL_PAD_SD1_DATA2__GPIO2_IO20		0x1f038 /* Green LED */
				MX6UL_PAD_SD1_DATA3__GPIO2_IO21		0x1f038 /* Blue LED */
			>;
		};

		pinctrl_enet1: enet1grp {
			fsl,pins = <
				MX6UL_PAD_GPIO1_IO07__ENET1_MDC		0x1b0a9
				MX6UL_PAD_GPIO1_IO06__ENET1_MDIO	0x1b0a9
				MX6UL_PAD_ENET1_RX_EN__ENET1_RX_EN	0x1f0a9
				MX6UL_PAD_ENET1_RX_ER__ENET1_RX_ER	0x1b0a9
				MX6UL_PAD_ENET1_RX_DATA0__ENET1_RDATA00	0x1f0a9
				MX6UL_PAD_ENET1_RX_DATA1__ENET1_RDATA01	0x1f0a9
				MX6UL_PAD_ENET1_TX_EN__ENET1_TX_EN	0x1b0a9
				MX6UL_PAD_ENET1_TX_DATA0__ENET1_TDATA00	0x1b0a9
				MX6UL_PAD_ENET1_TX_DATA1__ENET1_TDATA01	0x1b0a9
				MX6UL_PAD_ENET1_TX_CLK__ENET1_REF_CLK1	0x4001b031
				MX6UL_PAD_SNVS_TAMPER5__GPIO5_IO05	0x1b0b0 /* PHY IRQ */
				MX6UL_PAD_ENET2_TX_DATA0__GPIO2_IO11	0x18 /* PHY RESET */
			>;
		};

		pinctrl_gpio_keys: gpiokeysgrp {
			fsl,pins = <
				MX6UL_PAD_SD1_DATA0__GPIO2_IO18	0x1f080
			>;
		};

		pinctrl_i2c3: i2c3grp {
			fsl,pins = <
				MX6UL_PAD_LCD_DATA00__I2C3_SDA 0x4001b8b0
				MX6UL_PAD_LCD_DATA01__I2C3_SCL 0x4001b8b0
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX6UL_PAD_UART2_TX_DATA__UART2_DCE_TX 0x1b0b1
				MX6UL_PAD_UART2_RX_DATA__UART2_DCE_RX 0x1b0b1
				MX6UL_PAD_UART2_CTS_B__UART2_DCE_CTS  0x1b0b1
			>;
		};

		pinctrl_uart3: uart3grp {
			fsl,pins = <
				MX6UL_PAD_UART3_TX_DATA__UART3_DCE_TX 0x1b0b1
				MX6UL_PAD_UART3_RX_DATA__UART3_DCE_RX 0x1b0b1
				MX6UL_PAD_UART3_CTS_B__UART3_DCE_CTS  0x1b0b1
			>;
		};

		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX6UL_PAD_UART4_TX_DATA__UART4_DCE_TX 0x1b0b1
				MX6UL_PAD_UART4_RX_DATA__UART4_DCE_RX 0x1b0b1
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			u-boot,dm-spl;
			fsl,pins = <
				MX6UL_PAD_NAND_RE_B__USDHC2_CLK      0x17070
				MX6UL_PAD_NAND_WE_B__USDHC2_CMD      0x10070
				MX6UL_PAD_NAND_DATA00__USDHC2_DATA0  0x17070
				MX6UL_PAD_NAND_DATA01__USDHC2_DATA1  0x17070
				MX6UL_PAD_NAND_DATA02__USDHC2_DATA2  0x17070
				MX6UL_PAD_NAND_DATA03__USDHC2_DATA3  0x17070
				MX6UL_PAD_NAND_DATA04__USDHC2_DATA4  0x17070
				MX6UL_PAD_NAND_DATA05__USDHC2_DATA5  0x17070
				MX6UL_PAD_NAND_DATA06__USDHC2_DATA6  0x17070
				MX6UL_PAD_NAND_DATA07__USDHC2_DATA7  0x17070
				MX6UL_PAD_NAND_ALE__USDHC2_RESET_B   0x17070
			>;
		};
	};
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
	uart-has-rtscts;
	linux,rs485-enabled-at-boot-time;
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
	uart-has-rtscts;
	linux,rs485-enabled-at-boot-time;
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	bus-width = <8>;
	no-1-8-v;
	non-removable;
	status = "okay";
	u-boot,dm-spl;
};
